body {
    overflow-x: hidden;
    background-color: #222222;
}

/* ========== MENU ========== */

#menu a {
    font-size: 18px;
    font-weight: bold;
    color: #d20606;
}

#menu button {
    font-size: 18px;
    font-weight: bold;
    
}

/* ========== CARRUSEL DE IMAGENES ========== */

.carousel-inner {
    max-height: 40rem;
}
#slider img {
    max-height: 60rem;
}

/* ========== INTRODUCCION ========== */

#intro {
    height: 700px;
    margin-bottom: 200px;
}

/* ========== BG / FORMULARIO ========== */

#form-contacto {
    background-color: #7c0a0a;
    min-height: 500px;
    position: relative;
}
#bg-contacto {

    position: relative;
    top: -250px;    

}
.btn-envio { 
    padding: 10px 25px;
}

/* ========== MEDIA QUERIES XLG ========== */

@media (max-width:1150px) {
#bg-contacto {
    top: -150px; 
    }
}
/* ========== MEDIA QUERIES SM ========== */

@media (max-width:768px) {
    #intro #equipo {
        width: 90% !important;
    }
    #bg-contacto {
        top: -130px;    
    }
}

/* ========== MEDIA QUERIES XSM ========== */

@media (max-width:590px) {
    #intro #equipo {
        width: auto !important;
    }
    #bg-contacto {
        top: -110px; 
        }
    }

@media (max-width:500px) {
#bg-contacto {
    top: -60px; 
    }
}